<!-- menuPrincipal.html -->

<nav id="main-menu" class="menu-container">
    <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Clubes</a>
            <ul>
                <!-- Opción Jugadores -->
                <li><a href="#">Jugadores</a>
                    <ul>
                        <!-- Agregamos los nombres de los ganadores de Balones de Oro -->
                        <li><a href="#">Lionel Messi</a></li>
                        <li><a href="#">Cristiano Ronaldo</a></li>
                        <li><a href="#">Michel Platini</a></li>
                        <li><a href="#">Johan Cruyff</a></li>
                        <!-- Puedes agregar más jugadores si lo deseas -->
                    </ul>
                </li>
                <!-- Opción Posición -->
                <li><a href="#">Posición</a>
                    <ul>
                        <!-- Agregamos las posiciones de los ganadores de Balones de Oro -->
                        <li><a href="#">Delantero</a></li>
                        <li><a href="#">Extremo izquierdo</a></li>
                        <li><a href="#">Centrocampista</a></li>
                        <li><a href="#">Delantero / Centrocampista</a></li>
                        <!-- Agregamos las posiciones faltantes -->
                    </ul>
                </li>
                <!-- Cambiamos Score por Nacionalidad -->
                <li><a href="#">Nacionalidad</a>
                    <ul>
                        <!-- Agregamos las nacionalidades de los ganadores de Balones de Oro -->
                        <li><a href="#">Argentina</a></li>
                        <li><a href="#">Portugal</a></li>
                        <li><a href="#">Francia</a></li>
                        <li><a href="#">Países Bajos</a></li>
                        <!-- Agregamos las nacionalidades faltantes -->
                    </ul>
                </li>
                <!-- Fin de Clubes -->
            </ul>
        </li>
        <li><a href="#">Biografía</a></li>
        <li><a href="#">Títulos</a></li>
        <li><a href="#">Mundiales</a></li>
    </ul>

    
</nav>